In [8]:
import pandas as pd
egf = pd.read_csv('dataegfintAKT100.csv')
# mel = mel.drop('Unnamed: 0',axis = 1)
egf

          EGFR      IGFR  SOS  Ras  PI3K  AKT  Raf  Mek  Erk
0    40.488056  5.539920   51   49    55  100   25   74   92
1    35.242227  6.552836   44   52    62  100   29   60   85
2    42.356395  3.969405   50   48    65  100   24   66   88
3    33.002219  2.868766   46   43    60  100   24   68   90
4    35.660300  5.707668   41   41    63  100   23   59   82
..         ...       ...  ...  ...   ...  ...  ...  ...  ...
495  30.476445  5.553183   43   49    59  100   27   64   93
496  34.171294  5.156791   36   52    72  100   28   75   87
497  38.096679  3.113045   55   55    60  100   37   73   94
498  34.733428  4.226833   41   46    62  100   25   73   84
499  35.890077  5.091115   38   48    60  100   29   73   87

[500 rows x 9 columns]

In [9]:
import pandas as pd
mel = pd.read_csv('mel/meldataclean.csv')
mel = mel.drop('Unnamed: 0',axis = 1)
mel

,DHX15_HUMAN,G3P_HUMAN,HSPB1_HUMAN,ENOA_HUMAN,NPM_HUMAN,HS90A_HUMAN,HNRPC_HUMAN,HS90B_HUMAN,ANXA5_HUMAN,H14_HUMAN,...,RS23_HUMAN,TYB10_HUMAN,RS4X_HUMAN,H4_HUMAN,RL23_HUMAN,HNRPU_HUMAN,PSME1_HUMAN,EF1A1_HUMAN,PARK7_HUMAN,BioReplicate
0,9.368920,10.167968,11.777913,10.920721,10.906010,10.335122,10.634692,11.553578,9.207920,11.360237,...,11.271160,13.482704,10.378637,10.531847,11.752979,10.405871,9.219097,9.846337,10.133048,0
1,9.489853,10.180817,10.818609,10.871440,10.889861,10.396813,10.330118,11.014594,9.597437,11.422972,...,11.973722,13.070122,10.517606,10.645003,11.238343,10.667812,9.916110,10.187284,10.553502,0
2,9.766231,10.706837,11.750412,12.442845,12.427367,11.026080,10.609098,11.076089,11.808549,11.638560,...,11.030231,12.587978,11.215166,11.626250,10.962162,11.166272,10.285818,10.185965,11.767151,1
3,10.048671,9.803506,11.674774,11.818872,11.919689,10.957868,10.552753,11.523332,11.582727,11.269536,...,11.456930,12.264780,9.961714,11.158386,10.938503,11.007130,9.975372,10.427651,10.365379,1
4,10.155918,10.459226,12.510192,11.998972,11.544736,11.230470,10.727446,11.372416,11.370214,11.708166,...,11.388214,11.661693,10.575094,11.426903,12.067473,11.155149,10.308901,9.994868,10.841175,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,11.221156,11.372919,11.950291,12.186223,12.244128,11.733037,11.483310,12.198836,9.937711,12.851644,...,13.348245,14.880039,11.562779,12.162236,12.566627,11.409314,10.738499,11.640624,10.748849,0
574,10.435816,9.512272,10.307989,11.222910,11.693308,10.798883,10.940231,11.546958,9.793597,12.392672,...,12.909112,14.121883,11.161589,11.924320,11.419055,10.648325,9.859550,10.503408,9.677350,0
575,11.185375,8.791216,10.363866,10.778786,10.784525,9.955396,10.011145,11.191387,8.701676,10.945862,...,12.281287,13.361315,10.344672,10.878980,10.985492,10.163732,9.437538,10.326136,9.404534,0
576,11.062494,9.526001,8.321778,10.755068,11.704994,10.521882,10.482450,12.345718,9.136976,12.525499,...,11.771542,14.414920,10.996576,11.714654,11.488592,10.660735,9.980937,10.388894,9.298876,0
577,11.250041,9.955008,10.878617,11.364073,11.346829,11.096061,10.907762,12.334750,10.295041,11.944886,...,13.360579,14.719333,10.453794,12.108674,11.927432,11.170775,10.708204,10.592462,10.214943,0

In [12]:
# PDAC
import pandas as pd
filepath = 'datapaper/'
pdac = pd.read_csv(filepath+'pdacdata.csv')

In [22]:
# crc
import pandas as pd
filepath = 'datapaper/'
crc = pd.read_csv(filepath+'crc_silvia_data.csv')

In [7]:
melsnodes = ['PCNA_HUMAN', 'FAS_HUMAN', 'PARP1_HUMAN', 'HMGB1_HUMAN', 'CDK2_HUMAN', 'HMGN1_HUMAN', 'CDK1_HUMAN', 'STMN1_HUMAN', 'PRDX1_HUMAN', 'PHB2_HUMAN', 'FUBP1_HUMAN', 'ILF3_HUMAN','BioReplicate']
melsmall = pd.read_csv('datapaper/meldataall.csv')
melsmall = melsmall[melsnodes]
melsmall.head()

,PCNA_HUMAN,FAS_HUMAN,PARP1_HUMAN,HMGB1_HUMAN,CDK2_HUMAN,HMGN1_HUMAN,CDK1_HUMAN,STMN1_HUMAN,PRDX1_HUMAN,PHB2_HUMAN,FUBP1_HUMAN,ILF3_HUMAN,BioReplicate
0,10.729300,9.495817,9.800435,11.046324,9.743451,11.461522,NaN,10.308733,9.845813,10.267605,9.248138,9.535003,0
1,10.457960,8.806590,9.717772,10.958872,9.408850,10.306816,NaN,10.443483,10.038451,9.889579,10.323490,9.132223,0
2,10.465210,10.513825,10.111256,11.986126,10.630897,10.534900,NaN,11.060423,13.477248,11.118520,10.687277,9.950637,1
3,10.672989,10.346330,10.149746,11.567501,11.038542,11.034278,NaN,10.834226,13.574664,10.360110,10.404809,9.414519,1
4,10.504000,10.611959,10.417478,11.748434,10.666940,11.180560,NaN,10.875175,13.829430,10.967894,10.829953,9.790132,1

In [23]:
df = crc
# df_with_0 = df[df['BioReplicate'] == 0].drop(columns='BioReplicate')
# df_with_1 = df[df['BioReplicate'] == 1].drop(columns='BioReplicate')
# df_with_0 = df[df['Condition'] == 0].drop(columns='Condition')
# df_with_1 = df[df['Condition'] == 1].drop(columns='Condition')
df_with_0 = df[df['Condition'] == 'Healthy'].drop(columns='Condition')
df_with_1 = df[df['Condition'] == 'CRC'].drop(columns='Condition')

# # Display the resulting DataFrames
print("DataFrame with 'ColumnA' value equal to 0:")
print(df_with_0)

print("\nDataFrame with 'ColumnA' value equal to 1:")
print(df_with_1)

DataFrame with 'ColumnA' value equal to 0:
         A1AG2        AFM       AHSG       ANT3       AOC3       APOB  \
100  14.522701  15.940212  20.084743  17.854882   9.265317  15.561483
101  15.294532  15.935520  19.784254  17.318508   9.731454  15.739329
102  14.317982  16.029300  19.826004  17.168676  10.719039  15.031820
103  14.743974  17.271903  20.546815  17.614134  10.425442  15.755704
104  14.473524  15.997162  19.822254  16.851331   9.359456  15.273471
..         ...        ...        ...        ...        ...        ...
195  14.442917  15.990122  18.665888  16.506105   9.325916  14.745428
196  15.116044  16.625768  19.475982  17.245004   9.258360  15.141649
197  15.041488  15.224106  18.525146  16.235877   9.284527  14.812296
198  13.922867  16.388432  19.199723  16.204601   9.089451  14.572485
199  14.280702  15.676063  18.932595  16.425084   9.856100  15.216810

          ATRN        BTD    C20orf3      CADM1  ...      PTPRJ     Q5JNX2  \
100  13.277309  15.841669  11.378164   8.886986  ...   9.974945  19.810557
101  14.558598  15.970486  10.837733  10.162198  ...  10.224742  19.417183
102  13.823845  15.961511  10.878353   9.399227  ...   9.369648  19.009737
103  13.894078  16.797642  12.043986  10.036943  ...  10.386299  19.165669
104  13.823559  16.317857  11.503514   9.488784  ...  10.332763  19.338430
..         ...        ...        ...        ...  ...        ...        ...
195  13.072122  15.534248  10.767566   9.142328  ...  10.116428  19.185454
196  13.424602  15.977121   9.889204   9.298522  ...  10.051727  20.052715
197  13.922798  14.939264  10.622075   8.846313  ...   9.538417  18.668108
198  12.838552  15.439934   9.883794   8.043888  ...   9.652422  19.585959
199  13.556557  15.668181  10.128660   8.858964  ...   9.572709  18.686254

      SERPINA1   SERPINA3   SERPINA6   SERPINA7      THBS1      TIMP1  \
100  16.734527  14.670002  15.903624  13.240460  14.429249  11.757719
101  19.055394  14.957223  16.638847  13.368402  14.804730  11.906788
102  18.014983  14.712584  15.778314  13.605648  14.881317  11.997252
103  17.274783  14.509578  16.018403  13.797991  16.307502  12.344813
104  17.778327  13.572941  15.541310  13.130568  15.023347  12.220879
..         ...        ...        ...        ...        ...        ...
195  16.173700  13.396709  14.815274  12.338600  15.691712  11.984285
196  16.286212  12.785561  15.497808  13.122072  13.001543  11.816094
197  17.149908  11.122248  15.228195  11.783661  13.346080  11.176881
198  15.788897  12.577409  14.677995  12.614804  14.596866  11.905893
199  17.449038  13.497926  15.572615  12.658445  13.949219  11.692163

           VTN        VWF
100  12.961205  11.148027
101  12.124032  10.050453
102  11.696529  11.122208
103  13.262589  10.841750
104  12.233400  10.814681
..         ...        ...
195  11.879767  11.062184
196  12.012430  10.250246
197  12.438623   9.410451
198  10.916887  10.700179
199  11.891760   9.933152

[100 rows x 67 columns]

DataFrame with 'ColumnA' value equal to 1:
        A1AG2        AFM       AHSG       ANT3       AOC3       APOB  \
0   14.238157  16.103019  19.951792  17.207936  10.032169  15.544774
1   15.024111  16.020714  19.715919  17.297900   9.034144  15.131883
2   15.631364  16.143800  19.710849  17.596254  10.381880  15.955302
3   15.401365  16.276415  19.704377  17.422504   9.502960  15.714932
4   16.003158  16.958207  20.420334  17.988199   9.648502  16.247330
..        ...        ...        ...        ...        ...        ...
95  14.906852  15.917716  18.690235  17.118558   9.509788  15.633059
96  15.645656  16.279397  19.544482  17.097459   9.773291  15.606679
97  15.291199  16.208030  18.274744  17.337140   9.687528  15.085424
98  13.097695  16.307783  19.225562  15.727113   8.232583  13.705795
99  14.801609  16.148471  18.918591  16.751997  10.229574  15.221934

         ATRN        BTD    C20orf3      CADM1  ...      PTPRJ     Q5JNX2  \
0   14.383388  16.283071  10.667779   9.653029  ...   9.758946  19.028130
1   13.981723  16.249189  10.703279   9.624991  ...   9.934520  19.862536
2   14.635355  16.499158  11.183873  10.323191  ...  10.328319  19.501773
3   14.060700  16.277732   9.972982   9.994209  ...   9.741059  19.984664
4   14.203595  16.541422  12.581556   9.607492  ...  10.568064  20.467453
..        ...        ...        ...        ...  ...        ...        ...
95  14.545482  15.539599   9.986271   9.837067  ...   9.681413  19.174512
96  14.528584  16.110586  10.824708   9.965356  ...  10.130861  19.298843
97  14.044316  15.822296  11.071007   9.205348  ...  10.080705  19.842233
98  12.348957  15.238563   9.148905   7.966324  ...  10.452561  19.856491
99  14.418796  15.580749  10.700678   9.625553  ...   9.628174  19.222198

     SERPINA1   SERPINA3   SERPINA6   SERPINA7      THBS1      TIMP1  \
0   18.061091  14.218036  15.796849  13.581848  13.995686  11.578754
1   17.610188  14.832327  15.815397  13.138445  13.707714  11.960974
2   18.539972  15.308726  16.401770  13.742330  15.636962  12.155842
3   17.401414  14.254241  16.310491  13.936894  15.517268  12.379265
4   17.448008  16.231911  16.485833  14.167134  15.129106  12.169116
..        ...        ...        ...        ...        ...        ...
95  18.851763  14.307138  16.615440  13.631761  14.029162  11.608173
96  17.926065  13.919960  15.989035  13.322828  15.173784  12.029378
97  16.898703  12.765103  15.681119  13.203828  14.382192  11.672458
98  14.626601  10.890037  14.404279  12.138298  14.909807  12.016508
99  18.461520  13.336576  15.745922  13.370794  13.745231  11.797764

          VTN        VWF
0   12.081352  10.661031
1   12.838407  10.778432
2   12.313155  11.185271
3   10.679166  10.887855
4   14.506106  11.254175
..        ...        ...
95  12.807380   9.685051
96  12.356669   9.956797
97  13.359590   9.770337
98  10.126841  10.162874
99  12.131182   9.615953

[100 rows x 67 columns]

In [10]:
# df_with_1 = df_with_1.drop(['Unnamed: 0'], axis= 1)
# df_with_0 = df_with_0.drop(['Unnamed: 0'], axis= 1)

In [18]:
from sdv.metadata import SingleTableMetadata

metadata = SingleTableMetadata()

In [19]:
meta = metadata.detect_from_dataframe(data=df_with_0)

In [20]:
print(meta)

None

In [21]:
data = df_with_1
from sdv.single_table import TVAESynthesizer

synthesizer = TVAESynthesizer(metadata)
synthesizer.fit(data)

synthetic_data = synthesizer.sample(num_rows=len(data))

In [24]:
# data = egf
data = df_with_0
from sdv.single_table import TVAESynthesizer
synthesizer = TVAESynthesizer(metadata)
synthesizer.fit(data)

for i in range(1000):
    synthetic_data = synthesizer.sample(num_rows=len(data))
#     synthetic_data.to_csv('mel/tvae/mel1_tvae_'+str(i)+'.csv',index=False)
#     synthetic_data.to_csv('egf/tvae/egfAKT100_tvae_'+str(i)+'.csv',index=False)
#     synthetic_data.to_csv('pdac/tvae/pdac1_tvae_'+str(i)+'.csv',index=False)
    synthetic_data.to_csv('crc/tvae/crc_0_tvae_'+str(i)+'.csv',index=False)
#     synthetic_data.to_csv('mel/tvae/melsmall0_tvae_'+str(i)+'.csv',index=False)

In [7]:
synthetic_data

        EGFR      IGFR  SOS  Ras  PI3K  AKT  Raf  Mek  Erk
0  34.180172  5.253823   45   51    61   59   34   77   88
1  38.760596  5.635829   45   49    57   54   43   74   90
2  35.717859  4.559559   50   48    67   53   42   85   90
3  37.380586  4.076661   48   45    67   57   30   78   87
4  38.597691  6.432071   45   47    65   67   37   78   94
5  40.926420  5.736173   50   54    63   56   32   70   88
6  40.836414  4.825553   54   53    58   59   33   69   86
7  36.692715  4.853021   45   41    60   51   33   73   89
8  34.394285  5.527710   39   46    67   57   42   83   90
9  36.620634  4.765051   40   43    62   63   31   74   89

In [ ]:
# metadata = metadata.detect_from_csv(filepath='data/guests.csv')
metadata = metadata.detect_from_dataframe(data=my_pandas_dataframe)

In [4]:
synthesizer = TVAESynthesizer(
    metadata, # required
    enforce_min_max_values=True,
    enforce_rounding=False,
    epochs=500
)

NameError: name 'metadata' is not defined

In [ ]:
synthesizer.get_parameters()

In [3]:
metadata = synthesizer.get_metadata()

NameError: name 'synthesizer' is not defined

In [1]:
from sdv.tabular import TVAE
model = TVAE()
model.fit(data)

ModuleNotFoundError: No module named 'sdv.tabular'